.button_ctrl {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
}

.button_plus {
    background-color: white;
    background-image: url(../assets/images/plus.svg);
    width: 40px;
    height: 25px;
    background-repeat: no-repeat;
    border: 1px solid grey;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
}

.button_minus {
    background-color: white;
    background-image: url(../assets/images/dash.svg);
    width: 40px;
    height: 25px;
    background-repeat: no-repeat;
    border: 1px solid grey;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
}

.button_checkout {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    padding: 10px 20px;
}